{% for patient in patients %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ patient.name }}</td>
    <td>{{ patient.contact }}</td>
    <td>{{ patient.age|default_if_none:"" }}</td>
    <td>{{ patient.code }}</td>
    <td>{{ patient.securitypin }}</td>
    <td>
        {% for dept in departments %}
            {% if dept.id|stringformat:"s" == patient.department %}
            {{ dept.token }}-{{ patient.token_no }}
            {% endif %}
        {% endfor %}
    </td>
    <td>{{ patient.added_on|date:"d M Y, h.i A" }}</td>
    <td>{{ patient.department_name }}</td>
    <td>{{ patient.medicineamount|default_if_none:"" }}</td>
    <td>
        {% for regt in registration %}
            {% if regt.id|stringformat:"s" == patient.medicineissued_by %}
            {{ regt.name }}
            {% endif %}
        {% endfor %}
    </td>
</tr>
{% endfor %}
